/*.App {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}*/

.App{

  display: flex;
  justify-content: center;
  padding-top: 10%;
  
  color: red;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.264);
  transition: all 0.2s ease-in-out;
}



.calculator {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  color: rgb(55, 209, 236);
  border: 3px solid #160063;
}

.calculator > * {
  border: 3px solid rgb(231, 70, 6);
  background-color: #503f8b;
  padding: 10px;
}
 
.row {
  grid-column: 1 / -1;
}

#display {
  text-align: right;
}

#clear {
  text-align: center;
}
